@import "variables.css";

/* Import the base Shoelace stylesheet: */
@import "@shoelace-style/shoelace/dist/themes/light.css";

:root {
  --lavender: #826AED;
  --orchid: #C879FF;
  --baby-pink: #FFB7FF;
  --aqua: #64E9EE;
  --mint-lime: #CAFF8A;
  --bg-pale-pink: #FFFBFF;
}

body {
  background-color: var(--bg-pale-pink);
  color: #333;
  cursor: url("../../src/images/cursors/default.webp"), auto;
  font-size: 125%;
  margin: 0;
  padding: 2rem;
  line-height: 1.5;
  font-family: "IBM Plex Mono", monospace;
}

p {
  text-align: left;
}

ol, ul {
  text-align: left;
  line-height: 1.6em;
  list-style-position: inside;
}

a {
  color: var(--lavender);
  text-decoration: none;

  &:hover {
    color: var(--orchid);
  }

  &:active {
    color: var(--orchid);
    border-bottom: 1px dashed var(--orchid);
  }
}

code, pre {
  padding: .2em .4em;
  border-radius: 4px;
  font-size: 1.1em;
}

h1,
h2 {
  color: var(--lavender);
}

hr {
  border: solid var(--lavender);
  border-width: 2px 0 0 0;
}

#container {
  width: 90%;
  max-width: 1000px;
  margin: 3em auto;
  background-color: var(--baby-pink);
  border-radius: 25px;
  outline-color: var(--orchid);
  outline-style: solid;
  outline-width: 10px;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: absolute;
  left: 2px;
  top: 2px;
  background-color:  #FFDAED;
  width: auto;
  height: auto;
}

main {
  padding: 10px 5% 20px 5%;
}

#header {
  padding: 0 5%;
  border-color: var(--orchid);
  border-style: solid;
  border-width: 0 0 2px 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  ul {
    list-style-type: none;
    padding: 0.5em 0;
    margin: 0;

    li {
      font-size: 1.2em;
      display: inline-block;
      margin-right: 1.5em;
      margin-bottom: 0.2em;
      margin-top: 0.2em;

      a {
        color: var(--orchid);
        text-decoration: none;

        &:hover {
          color: var(--lavender);
        }

        &:active {
          color: var(--orchid);
          border-bottom: 1px dashed var(--orchid);
        }
      }
    }
  }
}

#footer {
  font-size: 0.8em;
  padding: 0 5% 10px 5%;
  text-align: center;

  a {
    color: var(--orchid);
    text-decoration: none;

    &:hover {
      color: var(--lavender);
    }

    &:active {
      color: var(--orchid);
      border-bottom: 1px dashed var(--orchid);
    }
  }
}
