<header id="header">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/now">Now</a>
    </li>
    <li>
      <a href="/rss">RSS</a>
    </li>
  </ul>
</header>
